# dependencies
/node_modules

# misc
.DS_Store

# debug
npm-debug.log*
.eslintcache

# Docker
docker-compose.override.yml

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
